.activities-info-container {
	background-color: rgba(000, 000, 000, 0.6);
	box-shadow: 0px 0px 70px 40px rgba(0, 0, 0, 0.7);
	margin: 100px auto;
	padding: 50px;
	width: 80%;
	text-align: center;
	color: white;
	font-family: bilo, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
}
.activities-info-container h2 {
	color: #11a0d9;
	font-family: bilo, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 40px;
}
.img-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.spacex-img {
	width: 300px;
	height: 200px;
	margin: 50px 0;
}

/*------------------- PEOPLE IN SPACE -----------------------*/

.people-in-space {
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: 0px 0px 70px 40px rgba(0, 0, 0, 0.7);
	margin: 100px auto;
	padding: 150px 0;
	width: 100%;
	text-align: center;
	color: white;
}
.h2-img-container {
	display: flex;
	justify-content: space-evenly;
}
.h2-img-container h2 {
	font-family: bilo, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 40px;
	color: #11a0d9;
}
.astronaut-image1 {
	width: 150px;
	transform: scaleX(-1);
}
.astronaut-image2 {
	width: 150px;
}
.people-count {
	display: flex;
	justify-content: center;
	margin: 100px 0;
}
.people-count p {
	margin: 2px;
	font-family: bilo, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 25px;
}
.number {
	text-decoration: underline;
}
.people-in-space-info {
	display: flex;
	justify-content: space-evenly;
	margin: 20px 0;
}
.people-in-space-info {
	border-bottom: 1px solid white;
	width: 50%;
	margin: 30px auto;
}
.craft-name-container {
	display: flex;
	justify-content: space-between;
	margin: 0 30%;
	font-size: 20px;
}
.people-in-space-text p {
	font-family: bilo, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 20px;
	margin: 50px 100px;
}

.section1 {
	background-color: rgba(000, 000, 000, 0.6);
	box-shadow: 0px 0px 70px 40px rgba(0, 0, 0, 0.7);
	margin: 100px auto;
	padding: 50px;
	width: 80%;
	text-align: center;
}
.section1 h1 {
	color: #11a0d9;
	font-family: bilo, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 50px;
	margin-bottom: 100px;
}
.indicators {
	display: flex;
	justify-content: space-evenly;
	border-bottom: 2px solid gray;
}
.indicators h2 {
	color: #11a0d9;
	padding: 0 80px;
	letter-spacing: 1px;
}
.mission-name {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 20px;
}
.rocket-name {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 20px;
}
.launch-date {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 20px;
}
.launch-container {
	display: flex;
	justify-content: space-evenly;
}

.launch-container p {
	width: 100%;
	color: white;
	font-family: bilo, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 25px;
}
#more {
	display: none;
}
button {
	margin: 50px auto;
	background-color: #11a0d9;
	border: none;
	outline: none;
	color: white;
	font-size: 30px;
	padding: 10px;
	width: 200px;
	border-radius: 10px;
	cursor: pointer;
}

/*--------------- TABLET ---------------*/

@media only screen and (max-width: 1024px) {
	.section1 {
		padding: 20px;
	}
	.indicators h2 {
		padding: 0 25px;
	}
}

/*------------ PHONE ------------*/

@media only screen and (max-width: 415px) {
	.activities-info-container {
		padding: 20px;
	}

	.section1 {
		padding: 10px;
	}
	.indicators h2 {
		padding: 0 10px;
		font-size: 20px;
	}
	.mission-name {
		padding: 10px;
	}
	.rocket-name {
		padding: 10px;
	}
	.launch-date {
		padding: 10px;
	}

	.launch-container p {
		font-size: 15px;
	}
	.people-in-space-text p {
		margin: 50px 10px;
	}
	.h2-img-container h2 {
		font-size: 25px;
	}
	.astronaut-image1 {
		width: 70px;
		height: 70px;
	}
	.astronaut-image2 {
		width: 70px;
		height: 70px;
	}
	.people-in-space-info {
		width: 80%;
	}
	.craft-name-container {
		margin: 0 16%;
	}
	.people-count p {
		font-size: 20px;
	}
}
