html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

body {
	background-image: url(../img/bodyimg2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	font-family: "Open Sans", sans-serif;
	display: flex;
	flex-direction: column;
}

/*--------- HEADER ---------*/

.header-container {
	position: relative;
	background-color: #555;
}
header div a {
	color: white;
	text-decoration: none;
}
.site-logo {
	position: absolute;
	top: 25%;
	left: 5%;
	color: white;
	font-size: 30px;
}
h1 {
	font-family: bilo, sans-serif;
	font-weight: 300;
	font-style: normal;
}
header {
}
.headerimg {
	width: 100%;
	transform: scalex(-1);
}
/*--------- NAV BAR ---------*/

header .menu-btn {
	display: none;
}

.navbar-container {
	display: flex;
	justify-content: space-around;
	background-color: #555;
}

.navbar-container ul li {
	display: inline-block;
	font-size: 30px;
	padding-right: 150px;
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-style: normal;
}

.navbar-container ul li a {
	color: white;
	text-decoration: none;
	display: inline-block;
	padding: 5px;
	transition: color 0.5s;
}

.navbar-container ul li .underline {
	height: 3px;
	background-color: transparent;
	width: 0%;
	transition: width 0.2s, background-color 0.5s;
	margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
	width: 100%;
	background-color: black;
}

.navbar-container ul li:hover .underline {
	background-color: black;
	width: 100%;
}
/*--------- BODY ---------*/
.to-top-img-container {
	position: relative;
}
div .to-top-img {
	position: absolute;
	margin-left: 45%;
	padding-top: 60px;
	width: 80px;
}
div .to-top-img:hover {
	padding-top: 50px;
	transform: scale(1.1);
	transition: all .2s ease-in;
}
.test {
	width: 100px;
	height: 100px;
	transition: width .3s;
	background-color: #eee;
	padding: 90px;
	text-align: center;
	opacity: 0.4;
	border-radius: 10px;
	margin: 20px;
	align-self: center;
}
.test:hover {
	width: 250px;
}
.test1 {
	display: flex;
	justify-content: space-around;
}
.test-1 {
	width: 100px;
	background-color: #eee;
	padding: 90px;
	text-align: center;
	opacity: 0.4;
	border-radius: 10px;
	margin: 20px;
	align-self: center;
}
/*--------- FOOTER ---------*/

ul {
	list-style: none;
	padding-left: 0;
}
footer {
	background-color: #555;
	color: #eee;
	margin-top: 100px;
	padding-top: 100px;
}
.ft-main {
	padding: 10px 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.ft-main-item {
	padding: 20px;
}
footer a {
	text-decoration: none;
	color: #eee;
	font-family: bilo, sans-serif;
	font-weight: 300;
	font-style: normal;
	padding-bottom: 10px;
}
.footer-title {
	color: #11a0d9;
	font-size: 25px;
	padding-bottom: 5px;
	border-bottom: 2px solid white;
	text-align: center;
	font-family: futura-pt, sans-serif;
	font-weight: 600;
	font-style: normal;
}
.ft-subtitle {
	margin-top: 50px;
	letter-spacing: 1px;
}
.ft-contact-info {
	font-weight: 100;
	font-size: 15px;
}
.ft-link {
	margin-bottom: 20px;
	padding-top: 30px;
	font-size: 20px;
}
.ft-link:hover {
	border-bottom: 1px solid black;
	display: inline-block;
	margin-bottom: 19px;
}
.icon-credits {
	font-size: 10px;
	text-align: center;
}

/* Footer Newsletter */
form {
	display: flex;
	flex-wrap: wrap;
}
.newsletter {
	text-align: center;
}
input[type="email"] {
	border: 0;
	padding: 15px;
	margin-top: 10px;
	font-size: 15px;
	border-radius: 5px 0 0 5px;
}
input[type="submit"] {
	background-color: #25ce6e;
	color: black;
	cursor: pointer;
	border: 0;
	padding: 15px 15px;
	margin-top: 10px;
	font-size: 15px;
	border-radius: 0 5px 5px 0;
}
.email-error {
	color: #ff1a1a;
	margin-top: 10px;
	font-size: 18px;
	letter-spacing: 1px;
	display: none;
}
.sosial-media-img {
	width: 95px;
	margin-top: 50px;
	opacity: 0.6;
}
.sosial-media-img:hover {
	opacity: 10;
}

/* Footer legal */
.footer-legal {
	padding: 10px;
	background-color: #333;
}
.footer-legal-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.footer-legal-list li {
	margin: 10px;
}
.footer-legal-list li:nth-last-child(2) {
	flex: 1;
}
input:focus {
	outline: none;
}

/*------------ TABLET ------------*/

@media only screen and (max-width: 1024px) {
	.headerimg {
		height: 150px;
	}
	.navbar-container {
		padding: 20px;
	}
	.header ul {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
		background-color: #555;
	}
	.header ul a {
		display: inline-block;
		text-decoration: none;
		width: 325px;
		font-size: 40px;
		margin: 0;
	}
	.header .menu {
		clear: both;
		max-height: 0;
		transition: max-height .2s ease-out;
	}
	.header .menu-icon {
		padding: 18px 10px;
		position: relative;
		float: right;
		cursor: pointer;
	}
	.header .menu-icon .nav-icon {
		background: white;
		display: block;
		height: 4px;
		width: 35px;
		position: relative;
		transition: background .2s ease-out;
	}
	.header .menu-icon .nav-icon:before {
		background: white;
		content: "";
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		transition: all .2s ease-out;
		top: 10px;
	}
	.header .menu-icon .nav-icon:after {
		background: white;
		content: "";
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		transition: all .2s ease-out;
		top: -10px;
	}
	.header .menu-btn {
		display: none;
	}
	.header .menu-btn:checked ~ .menu {
		max-height: 300px;
	}
	.header .menu-btn:checked ~ .menu-icon .nav-icon {
		background: transparent;
	}
	.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
		transform: rotate(-45deg);
		top: 0;
	}
	.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
		transform: rotate(45deg);
		top: 0;
	}
	.navbar-container ul li .underline {
		display: none;
	}
	.navbar-container ul li.active-link .underline {
		display: none;
	}

	.navbar-container ul li:hover .underline {
		display: none;
	}
	.site-logo {
		top: 10px;
	}
	.ft-main {
		flex-direction: column-reverse;
	}
	input[type="email"] {
		border-radius: 5px;
		width: 50%;
		margin-left: 25%;
	}
	input[type="submit"] {
		border-radius: 5px;
		width: 20%;
		margin-left: 42%;
		margin-top: 15px;
	}
	.email-error {
		margin-left: 4%;
		display: block;
	}
	.sosial-media-img {
		opacity: 10;
	}
	.ft-main-item {
		text-align: center;
	}
}

/*------------ PHONE ------------*/
@media only screen and (max-width: 415px) {
	.site-logo {
		top: 0;
		font-size: 20px;
	}
	.headerimg {
		height: 100px;
	}
	div .to-top-img {
		margin-bottom: -38%;
		margin-left: 40%;
	}
	.test {
		width: 100px;
		background-color: #eee;
		padding: 50px;
		text-align: center;
		opacity: 0.4;
		border-radius: 10px;
		margin: 10px;
		align-self: center;
	}
	.test1 {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}
	input[type="email"] {
		border-radius: 5px;
		width: 100%;
	}
	input[type="submit"] {
		border-radius: 5px;
		width: 50%;
		margin-left: 25%;
		margin-top: 15px;
	}
	.email-error {
		margin-left: 0;
		display: block;
	}
}

/*------------ HAMBURGER MENU ------------*/
