.test {
	width: 100px;
	transition: width 300ms;
	background-color: #eee;
	padding: 100px;
	text-align: center;
	opacity: 0.4;
	border-radius: 10px;
	margin: 20px;
	align-self: center;
}
.test:hover {
	width: 250px;
}
.test1 {
	display: flex;
	justify-content: space-around;
}
.test-1 {
	width: 100px;
	background-color: #eee;
	padding: 90px;
	text-align: center;
	opacity: 0.4;
	border-radius: 10px;
	margin: 20px;
	align-self: center;
}
.test3 {
	align-self: center;
	text-align: center;
	font-family: stencil-std, sans-serif;
	font-weight: 400;
	font-style: normal;
}
.alien-img {
	width: 100px;
	transition-duration: 500ms;
	transition-property: transform;
}
.alien-img:hover {
	transform: rotate(360deg);
}

@media only screen and (max-width: 415px) {
	.test {
		width: 100px;
		background-color: #eee;
		padding: 50px;
		text-align: center;
		opacity: 0.4;
		border-radius: 10px;
		margin: 10px;
		align-self: center;
	}
	.test1 {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}
}
