.test {
	width: 100%;
	background-color: rgba(150, 150, 150, 0.0);
	color: white;
	text-align: center;
	margin: 100px;
	align-self: center;
	transition: padding 500ms;
	font-family: bilo, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 30px;
}
.test:hover {
	transition-timing-function: ease-out;
	border-radius: 0;
	padding: 30px;
}
.test:hover .show-more {
	display: block;
}
.test:hover .test-p {
	display: none;
}
.show-more {
	margin: 20px;
	font-family: bilo, sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 30px;
	display: none;
}
.astronaut-img {
	width: 100px;
}
.test1 {
	display: flex;
	justify-content: space-around;
	margin-top: 200px;
}
.test-1 {
	width: 100px;
	background-color: #eee;
	padding: 90px;
	text-align: center;
	opacity: 0.4;
	border-radius: 10px;
	margin: 20px;
	align-self: center;
}
.test3 {
	align-self: center;
	text-align: center;
	font-family: stencil-std, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-bottom: 50px;
	color: white;
	letter-spacing: 1px;
}
.alien-img {
	width: 100px;
	transition-duration: 500ms;
	transition-property: transform;
}
.alien-img:hover {
	transform: rotate(360deg);
}

@media only screen and (max-width: 415px) {
	.test {
		width: 100px;
		background-color: #eee;
		padding: 50px;
		text-align: center;
		opacity: 0.4;
		border-radius: 10px;
		margin: 10px;
		align-self: center;
	}
	.test1 {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}
}
